@model Options.Models.TickerContainer

<div class="row">
    <label style="text-align:right" class="col-lg-3">Ticker:</label>
    <label style="text-align:left" class="col-lg-2">@Model.Ticker</label>
</div>


<div class="row">
    <button class="btn btn-link theButton col-sm-4" type="button" onclick="theButt()"><b>Calculate</b></button>
</div>
<div class="row">
    <button class="btn btn-link theButton col-sm-4" type="button" onclick="theButton()"><b>CalculateThebutton</b></button>
</div>

<div class="row">
    <button class="btn-link test col-md-4" type="button" onclick="TestJS()">Test JS</button>
    
</div>

<script type="text/javascript" on-content-loaded="true">
  
    $(document).ready(function () {
        //alert("WFT");

    });

     function TestJS() {
        var v = @Html.Raw(Model.JsonExpirationDatesArray);
        alert(v);
    }
</script>