<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <input id="ticker" placeholder="enter ticker" />
                <button class="btn btn-link col-lg-pull-2" id="searchButton" type="button">Search  <span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="expirationWidget" class="row"></div>
        </div>
    </div>
</div>




