<div class="container col-xs-8">

    <input id="ticker" placeholder="enter ticker" />
    <button class="btn btn-primary" id="searchButton" type="submit">Search</button>


    

    <div class="container" id="result">

    </div>
    
 

</div>